#header {
    background-color: rgb(250, 163, 144);
    height: 200px;
}

img {
    border-radius: 40%;
    margin-top: -50px;
    margin-left: 100px;
    height: 140px;
}

div{
    border: 2px;
    padding: 10px;
    width: 300px;
}